.fight-intro-text {
  margin: 20px;
}

.fight-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fight-card {
  animation-duration: 2s;
  background-color: black;
  margin: 10px;
}
