.merge-container {
  margin: 2% 20%;
}

.merge-container .btn {
  margin: 10px 4px;
}

.dragons-to-merge {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.merge-mode-title {
  font-style: italic;
}
